#settingsDialog > .oo-ui-window-frame {
	height: 100vh !important;
	font-size: 14px;
}
#settingsDialog .oo-ui-processDialog-navigation .oo-ui-actionWidget {
	margin: 0;
}
#settingsDialog .oo-ui-processDialog-navigation .oo-ui-labelElement-label {
	line-height: 3.14285714em;
}
#settingsDialog .oo-ui-processDialog-navigation .oo-ui-buttonElement-button {
	padding-top: 0;
	padding-bottom: 0;
	border: none;
}
#settingsDialog .oo-ui-processDialog-actions-safe .oo-ui-buttonElement-button {
	border-right: 1px solid #c8ccd1;
	background-color: #f8f9fa;
}
#settingsDialog .oo-ui-processDialog-actions-primary .oo-ui-buttonElement-button {
	border-left: 1px solid #447ff5;
	background-color: #447ff5;
	color: #fff;
}
.skin-minerva #settingsDialog input, .skin-minerva #settingsDialog select,
.skin-minerva #settingsDialog .oo-ui-numberInputWidget-field {
	font-size: 16px;
}
/* popup形式的帮助信息 */
#settingsDialog  .oo-ui-popupWidget-popup {
	width: max-content !important;
	max-width: 320px;
}
#settingsDialog .oo-ui-popupWidget-body-padded {
	margin: 0.2em 0.5em;
	font-size: small;
}
#settingsDialog .oo-ui-popupWidget-anchor {
	left: calc(50% - 1px) !important;
}
#settingsDialog .oo-ui-fieldsetLayout,
#settingsDialog-btns, #settingsDialog-code {
	margin-top: 0.85714286em;
}
#settingsDialog-btns {
	text-align: center;
}

.skin-vector .mw-notification.mw-notification-type-success {
	background-color: #f8fff8;
	border-color: #39eb45;
}
div.mw-notification.mw-notification-type-error,
.skin-minerva .mw-notification.mw-notification-type-success {
	background-size: 24px;
	background-position: 16px 50%;
	background-repeat: no-repeat;
	padding: 0.9em 1em 0.9em calc(1em + 40px);
	width: calc(80% - 40px);
}
.mw-notification.mw-notification-type-success {
	background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2224%22 height=%2224%22 viewBox=%220 0 24 24%22%3E%3Cpath fill=%22%233d3%22 fill-rule=%22evenodd%22 d=%22M11.643 22.364c1.234 0 2.235-.956 2.235-2.136h-4.47c0 1.18 1 2.136 2.234 2.136zm7.25-12.284v3.998l1.77 3.603v1.1H2.623v-1.1l1.77-3.602V10.08c0-2.894 1.822-5.41 4.475-6.47.26-1.283 1.415-2.227 2.773-2.227s2.51.944 2.776 2.227c2.653 1.06 4.477 3.576 4.477 6.47zM12.92 4.974h-2.554c-2.438.553-4.255 2.64-4.255 5.14v4.474l-1.7 2.44h14.47l-1.702-2.44v-4.474c.024-4.076-3.616-5.09-4.255-5.14z%22/%3E%3C/svg%3E");
}
